PORT = 3000
MONGO_URI = mongodb+srv://Raizo:AceCombined123@cluster0.cyrez.mongodb.net/storybooks?retryWrites=true&w=majority
GOOGLE_CLIENT_ID = 28557621211-qgvh65cv7bq0i4kd82novrq6pi6uo1s4.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = fiRRLus8jKluuQIldUHJ_2M4